<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

	<ul>
  		<% eTweets.forEach(function(singleTweet){ %>
    	<li> <%= singleTweet.tText  %> </li>
  		<% }); %>
	</ul>

</body>
</html>
